<div class="wrapper">
    <main>
      <h1>ISER Styleguide <span>2013</span></h1>
      <h2>Introduction</h2>

      <p class="lead">This styleguide provides details and examples of the authoring and presentation of HTML for ISER.</p>

      <p>It was originally developed in July 2013 by <a href="https://www.iser.essex.ac.uk/people/pmgroves">Paul Groves</a>, web manager at ISER.</p>

      <small>Textile markup hints are shown in the margin - for a complete guide to Textile see the <a href="http://redcloth.org/textile">Textile Reference Manual for RedCloth 4</a></small>



      <h2>Colours</h2>
      <div class="row6">
      <div class="block red">ISER Red <code>#ce001f</code></div>
      </div>


     <h3>Secondary pallet</h3>

      <div class="row6 row2">
        <div class="block green">Green <code>#74a290</code></div>
        <div class="block lilac">Lilac <code>#9490ab</code></div>
        <div class="block pink">Pink <code>#ab8195</code></div>
        <div class="block rouge">Rouge <code>#ab7070</code></div>
        <div class="block brown">Brown <code>#ab7070</code></div>
        <div class="block blue">Blue <code>#ab7070</code></div>
      </div>


      <h3>Greys</h3>

       <div class="row6 row2">
        <div class="block grey1">Grey 1 <code>#2c2c2c</code></div>
        <div class="block grey2">Grey 2 <code>#808080</code></div>
        <div class="block grey3">Grey 3 <code>#dddddd</code></div>
        <div class="block grey4">Grey 4 <code>#e2e2e2</code></div>
        <div class="block grey5">Grey 5 <code>#f9f9f9</code></div>
      </div>

      <h3>User interface</h3>

      <div class="row6 row2">
      <div class="block link">Link <code>#ce001f</code></div>
      <div class="block hover">Hover <code>#ce001f</code></div>
      <div class="block code">Code <code>#ce001f</code></div>
      <div class="block highlight">Highlight <code>#ce001f</code></div>
      <div class="block focus">Focus <code>#ce001f</code></div>
      </div>



      <h2>Paragraphs</h2>

      <h6 class="meta">Lead paragraph <code>p(lead).</code></h6>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p>Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h6 class="meta">Call to action <code>p(call-to-action).</code></h6>

      <p class="call-to-action">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>



      <h2>Fonts</h2>

      <p>ISER use <a href="http://www.fonts.com/font/itc/itc-officina-serif">Officina Serif</a> for headings and <a href="http://www.fonts.com/font/monotype/amasis-etext">Amasis</a> for body copy.</p>

      <h6 class="meta">Heading font</h6>

      <p class="heading">Normal Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="heading-italic">Italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="heading-bold">Bold Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="heading-bold-italic">Bold italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Body font</h6>

      <p class="body">Normal Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="body-italic">Italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="body-bold">Bold Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <p class="body-bold-italic">Bold italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>




      <h2>Tables</h2>

      <h6 class="meta">Zebra stripping <code>table(zebra).</code></h6>

      <table class="zebra">
      <caption>The Very Best Eggnog</caption>
      <colgroup>
          <col style="width:15em;">
          <col style="width:6em;">
          <col style="width:6em;">
      </colgroup>
      <thead>
          <tr>
              <th scope="col">Ingredients</th>
              <th scope="col">Serves 12</th>
              <th scope="col">Serves 24</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Milk</td>
              <td>1 quart</td>
              <td>2 quart</td>
          </tr>
          <tr>
              <td>Cinnamon Sticks</td>
              <td>2</td>
              <td>1</td>
          </tr>
          <tr>
              <td>Vanilla Bean, Split</td>
              <td>1</td>
              <td>2</td>
          </tr>
          <tr>
              <td>Cloves</td>
              <td>5</td>
              <td>10</td>
          </tr>
          <tr>
              <td>Mace</td>
              <td>10 blades</td>
              <td>20 blades</td>
          </tr>
          <tr>
              <td>Egg Yolks</td>
              <td>12</td>
              <td>24</td>
          </tr>
          <tr>
              <td>Cups Sugar</td>
              <td>1 ½ cups</td>
              <td>3 cups</td>
          </tr>
          <tr>
              <td>Dark Rum</td>
              <td>1 ½ cups</td>
              <td>3 cups</td>
          </tr>
          <tr>
              <td>Brandy</td>
              <td>1 ½ cups</td>
              <td>3 cups</td>
          </tr>
          <tr>
              <td>Vanilla</td>
              <td>1 tbsp</td>
              <td>2 tbsp</td>
          </tr>
          <tr>
              <td>Half-and-half or Light Cream</td>
              <td>1 quart</td>
              <td>2 quart</td>
          </tr>
          <tr>
              <td>Freshly grated nutmeg to taste</td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
      <tfoot>
          <tr>
              <th scope="col">Ingredients</th>
              <th scope="col">Serves 12</th>
              <th scope="col">Serves 24</th>
          </tr>
      </tfoot>
  </table>



  <h2>Headings</h2>

      <h6 class="meta">Heading 1 <code>h1.</code></h6>
      <h1>Heading 1</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Heading 2 <code>h2.</code></h6>
      <h2>Heading 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Heading 3 <code>h3.</code></h6>
      <h3>Heading 3</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Heading 4 <code>h4.</code></h6>
      <h4>Heading 4</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Heading 5 <code>h5.</code></h6>
      <h5>Heading 5</h5>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>

      <h6 class="meta">Heading 6 <code>h6.</code></h6>
      <h6>Heading 6</h6>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua.</p>









<h2>Text-level Semantics</h2>

                    <p>There are a number of inline <abbr title="HyperText Markup Language">HTML</abbr> elements you may use anywhere within other elements.</p>

                    <h3>Links and anchors</h3>


                    <p>The <code>a</code> element is used to hyperlink text, be that to another page, a named fragment on the current page or any other location on the web. Example:</p>

                    <div class="example">
                        <p><a href="/">Go to the home page</a> or <a href="#banner">return to the top of this page</a>.</p>
                    </div>

                    <h3>Stressed emphasis</h3>

                    <p>The <code>em</code> element is used to denote text with stressed emphasis, i.e., something you&#8217;d pronounce differently. Where italicizing is required for stylistic differentiation, the <code>i</code> element may be preferable. Example:</p>

                    <div class="example">
                        <p>You simply <em>must</em> try the negitoro maki!</p>
                    </div>

                    <h3>Strong importance</h3>

                    <p>The <code>strong</code> element is used to denote text with strong importance. Where bolding is used for stylistic differentiation, the <code>b</code> element may be preferable. Example:</p>

                    <div class="example">
                        <p><strong>Don&#8217;t</strong> stick nails in the electrical outlet.</p>
                    </div>

                    <h3>Small print</h3>

                    <p>The <small>small</small> element is used to represent disclaimers, caveats, legal restrictions, or copyrights (commonly referred to as &#8216;small print&#8217;). It can also be used for attributions or satisfying licensing requirements. Example:</p>

                    <div class="example">
                        <p><small>Copyright &#169; 1922-2011 Acme Corporation. All Rights Reserved.</small></p>
                    </div>

                    <h3>Strikethrough</h3>

                    <p>The <code>s</code> element is used to represent content that is no longer accurate or relevant. When indicating document edits i.e., marking a span of text as having been removed from a document, use the <code>del</code> element instead. Example:</p>

                    <div class="example">
                        <p><s>Recommended retail price: &#163;3.99 per bottle</s><br/><strong>Now selling for just &#163;2.99 a bottle!</strong></p>
                    </div>

                    <h3>Citations</h3>

                    <p>The <code>cite</code> element is used to represent the title of a work (e.g. a book, essay, poem, song, film, TV show, sculpture, painting, musical, exhibition, etc). This can be a work that is being quoted or referenced in detail (i.e. a citation), or it can just be a work that is mentioned in passing. Example:</p>

                    <div class="example">
                        <p><cite>Universal Declaration of Human Rights</cite>, United Nations, December 1948. Adopted by General Assembly resolution 217 A (III).</p>
                    </div>

                    <h3>Definition</h3>

                    <p>The <code>dfn</code> element is used to highlight the first use of a term. The <code>title</code> attribute can be used to describe the term. Example:</p>

                    <div class="example">
                        <p>Bob&#8217;s <dfn title="Dog">canine</dfn> mother and <dfn title="Horse">equine</dfn> father sat him down and carefully explained that he was an <dfn title="A mutation that combines two or more sets of chromosomes from different species">allopolyploid</dfn> organism.</p>
                    </div>

                    <h3>Abbreviation</h3>

                    <p>The <code>abbr</code> element is used for any abbreviated text, whether it be acronym, initialism, or otherwise. Generally, it&#8217;s less work and useful (enough) to mark up only the first occurrence of any particular abbreviation on a page, and ignore the rest. Any text in the <code>title</code> attribute will appear when the user&#8217;s mouse hovers the abbreviation (although notably, this does not work in Internet Explorer for Windows). Example abbreviations:</p>

                    <div class="example">
                        <p><abbr title="British Broadcasting Corportation">BBC</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="Staffordshire">Staffs.</abbr></p>
                    </div>

                    <h3>Time</h3>

                    <p>The <code>time</code> element is used to represent either a time on a 24 hour clock, or a precise date in the proleptic Gregorian calendar, optionally with a time and a time-zone offset. Example:</p>

                    <div class="example">
                        <p>Queen Elizabeth II was proclaimed sovereign of each of the Commonwealth realms on <time datetime="1952-02-6">6</time> and <time datetime="1952-02-7">7 February 1952</time>, after the death of her father, King George VI.</p>
                    </div>

                    <h3>Code</h3>

                    <p>The <code>code</code> element is used to represent fragments of computer code. Useful for technology-oriented sites, not so useful otherwise. Example:</p>

                    <div class="example">
                        <p>When you call the <code>activate()</code> method on the <code>robotSnowman</code> object, the eyes glow.</p>
                    </div>

                    <p>Used in conjunction with the <code>pre</code> element:</p>


<pre><code>def uppercase_postcode
  pcode = self.postcode.upcase
  ar = pcode.gsub(/ /,'').split(/(.*)(.{3})$/)
  self.postcode = "#{ar[1]} #{ar[2]}"
end</code></pre>




                    <h3>Variable</h3>

                    <p>The <code>var</code> element is used to denote a variable in a mathematical expression or programming context, but can also be used to indicate a placeholder where the contents should be replaced with your own value. Example:</p>

                    <div class="example">
                        <p>If there are <var>n</var> pipes leading to the ice cream factory then I expect at <em>least</em> <var>n</var> flavours of ice cream to be available for purchase!</p>
                    </div>

                    <h3>Sample output</h3>

                    <p>The <code>samp</code> element is used to represent (sample) output from a program or computing system. Useful for technology-oriented sites, not so useful otherwise. Example:</p>

                    <div class="example">
                        <p>The computer said <samp>Too much cheese in tray two</samp> but I didn&#8217;t know what that meant.</p>
                    </div>

                    <h3>Keyboard entry</h3>

                    <p>The <code>kbd</code> element is used to denote user input (typically via a keyboard, although it may also be used to represent other input methods, such as voice commands). Example:</p>


                    <kbd>f478b9aa89442d2922b915a23dd1ac4c</kbd>



                    <h3>Superscript and subscript text</h3>
                    <p>The <code>sup</code> element represents a superscript and the sub element represents a <code>sub</code>. These elements must be used only to mark up typographical conventions with specific meanings, not for typographical presentation. As a guide, only use these elements if their absence would change the meaning of the content. Example:</p>

                    <div class="example">
                        <p>The coordinate of the <var>i</var>th point is (<var>x<sub><var>i</var></sub></var>, <var>y<sub><var>i</var></sub></var>). For example, the 10th point has coordinate (<var>x<sub>10</sub></var>, <var>y<sub>10</sub></var>).</p>
                        <p>f(<var>x</var>, <var>n</var>) = log<sub>4</sub><var>x</var><sup><var>n</var></sup></p>
                    </div>

                    <h3>Italicised</h3>

                    <p>The <code>i</code> element is used for text in an alternate voice or mood, or otherwise offset from the normal prose. Examples include taxonomic designations, technical terms, idiomatic phrases from another language, the name of a ship or other spans of text whose typographic presentation is typically italicised. Example:</p>

                    <div class="example">
                        <p>There is a certain <i lang="fr">je ne sais quoi</i> in the air.</p>
                    </div>

                    <h3>Emboldened</h3>

                    <p>The <code>b</code> element is used for text stylistically offset from normal prose without conveying extra importance, such as key words in a document abstract, product names in a review, or other spans of text whose typographic presentation is typically emboldened. Example:</p>

                    <div class="example">
                        <p>You enter a small room. Your <b>sword</b> glows brighter. A <b>rat</b> scurries past the corner wall.</p>
                    </div>

                    <h3>Marked or highlighted text</h3>

                    <p>The <code>mark</code> element is used to represent a run of text marked or highlighted for reference purposes. When used in a quotation it indicates a highlight not originally present but added to bring the reader&#8217;s attention to that part of the text. When used in the main prose of a document, it indicates a part of the document that has been highlighted due to its relevance to the user&#8217;s current activity. Example:</p>

                    <div class="example">
                        <p>I also have some <mark>kitten</mark>s who are visiting me these days. They&#8217;re really cute. I think they like my garden! Maybe I should adopt a <mark>kitten</mark>.</p>
                    </div>

                    <h3 id="edits">Edits</h3>

                    <p>The <code>del</code> element is used to represent deleted or retracted text which still must remain on the page for some reason. Meanwhile its counterpart, the <code>ins</code> element, is used to represent inserted text. Both <code>del</code> and <code>ins</code> have a <code>datetime</code> attribute which allows you to include a timestamp directly in the element. Example inserted text and usage:</p>

                    <div class="example">
                        <p>She bought <del datetime="2005-05-30T13:00:00">two</del> <ins datetime="2005-05-30T13:00:00">five</ins> pairs of shoes.</p>
                    </div>







 <h2>Horizontal rule</h2>
 <h6 class="meta"><code>&lt;hr /&gt;</code></h6>


<h2>Forms</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua. Ut enim ad minim veniam</p>

      <form>
        <fieldset>
          <legend>Legend Name</legend>

          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="at least 3 characters" />
          </div>

          <div class="field">
            <label for="age">Age</label>
            <input type="text" name="age" />
          </div>

          <div class="field">
            <label for="shoe">Shoe size <abbr title="Required">*</abbr></label>
            <input type="text" name="shoe" required />
          </div>

          <div class="field large">
            <label for="comment">Comments</label>
            <textarea rows="2"></textarea>
          </div>

          <div class="field">
            <label for="nights">Nights</label>
            <input type="number" name="nights" value="1" min="1" max="30" required>
          </div>

          <div class="field">
            <label for="country">Country</label>
            <select name="country">
              <option>1 England</option>
              <option>2 Ireland</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <fieldset class="options">
          <legend>Checkbox <abbr title="Required">*</abbr></legend>
          <ul>
              <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label></li>
              <li><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label></li>
              <li><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label></li>
          </ul>
          </fieldset>

          <fieldset class="options">
          <legend>Radios <abbr title="Required">*</abbr></legend>
          <ul>
              <li><label for="radio1"><input id="radio1" name="radio" type="radio" checked="checked"> Choice A</label></li>
              <li><label for="radio2"><input id="radio2" name="radio" type="radio"> Choice B</label></li>
              <li><label for="radio3"><input id="radio3" name="radio" type="radio"> Choice C</label></li>
          </ul>
          </fieldset>


          <div class="field control">
            <input type="submit" value="Save" class="btn" /><a href="#">cancel</a>
          </div>

        </fieldset>
      </form>

  <h6 class="meta"><code>&lt;hr /&gt;</code></h6>
      <h2>Horizontal rule</h2>

      <hr />

      <h2>Quotes</h2>

      <h6 class="meta"><code>bq.</code></h6>

      <blockquote>

      <p>&ldquo;Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. In accumsan diam
      vitae velit. Aliquam vehicula, turpis sed egestas
      porttitor, est ligula egestas leo, at interdum
      leo ante ut risus.&rdquo;
      <b>&mdash;Joe Bloggs</b></p>

      </blockquote>

      <h3>Inline quotes</h3>

      <p>The <code>q</code> element is used for quoting text inline. Example showing nested quotations:</p>

      <div class="example">
          <p>John said, <q>I saw Lucy at lunch, she told me <q>Mary wants you to get some ice cream on your way home</q>. I think I will get some at Ben and Jerry&#8217;s, on Gloucester Road.</q></p>
      </div>

      <h3>Pull-quotes</h3>


      <h6 class="meta"><code>bq(pull-quote).</code></h6>

      <blockquote class="pull-quote">
        <p>&ldquo;Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. In accumsan diam
      vitae velit. Aliquam vehicula, turpis sed egestas
      porttitor, est ligula egestas leo, at interdum
      leo ante ut risus.&rdquo;
      <b>&mdash;Joe Bloggs</b></p>
      </blockquote>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </blockquote>



      <h2>Lists</h2>

      <p class="lead">Lists are used to group related pieces of information together, so they are clearly associated with each other and easy to read - more on <a href="http://www.w3.org/wiki/HTML_lists">w3c wiki</a></p>

      <h3>Unordered</h3>

      <p>Unordered lists, or bulleted lists, are used when a set of items can be placed in any order. An example is a shopping list. These items are all part of one list, however, you could put the items in any order and the list would still make sense.</p>

      <h6 class="meta"><code>*</code></h6>
      <ul>
      <li>
      Web development
      <ul>
      <li>HTML(5)</li>
      <li>CSS(3)</li>
      <li>Accessibility</li>
      <li>Progressive enhancement</li>
      </ul>
      </li>
      <li>
      Web design
      <ul>
      <li>Typography</li>
      <li>Grids</li>
      </ul>
      </li>
      </ul>

      <h3>Ordered</h3>

      <p>Ordered lists, or numbered lists, are used to display a list of items that need to be placed in a specific order. An example would be cooking instructions, which must be completed in order for the recipe to work. If the list items were moved around into a different order, the information would no longer make sense.</p>

      <h6 class="meta"><code>#</code></h6>
      <ol>
      <li>
      Web development
      <ol>
      <li>HTML(5)</li>
      <li>CSS(3)</li>
      <li>Accessibility</li>
      <li>Progressive enhancement</li>
      </ol>
      </li>
      <li>
      Web design
      <ol>
      <li>Typography</li>
      <li>Grids</li>
      </ol>
      </li>
      </ol>

      <h3>Definition</h3>

      <p>Description lists associate specific names and their values within a list, for example items in an ingredient list and their descriptions, article metadata such as authors and categories and their values, or competition winners and the years in which they won.</p>

      <h6 class="meta"><code>- dt := dd</code></h6>
      <dl>
      <dt>milk</dt>

      <dd>A white, liquid dairy product.</dd>

      <dt>bread</dt>

      <dd>A baked food made of flour or meal.</dd>

      <dt>butter</dt>

      <dd>A yellow, solid dairy product.</dd>

      <dt>coffee beans</dt>

      <dd>The seeds of the fruit from certain coffee trees.</dd>
      </dl>



    <h2>Patterns</h2>

    <p class="lead">Design and mark-up patterns unique to this site.</p>

    <h3>Pagination</h3>

    <p>Used to navigate between pages of search results.</p>

    <h6 class="meta"><code>ol(pagination).</code></h6>
    <ol role="navigation" class="pagination">
        <li><a href="#" rel="prev">Previous</a></li>
        <li><a href="#">1</a></li>
        <li><span class="active">2</span></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#" rel="next">Next</a></li>
    </ol>

          <p>Description lists associate specific names and their values within a list, for example items in an ingredient list and their descriptions, article metadata such as authors and categories and their values, or competition winners and the years in which they won.</p>

</main>

<aside role="aside"></aside>
</div>
    <a href="#" id="show-grid" class="btn">Toggle grid</a>
