$basefont: 18
$baseline: $basefont * 1.5
$heading_sizes: 54 36 27 22 18 18
// $heading_sizes: 72 48 36 22 18 18
$baseline_px: #{$baseline}px
$border_radius: 10px
$measure: 30em

$heading_font: "Officina", Georgia, "Times New Roman", Times, serif
$body_font: "Amasis", Georgia, "Times New Roman", Times, serif
$sans_font: "Helvetica Neue", Helvetica, Arial, sans-serif
$monospace_font: Monaco, Menlo, Consolas, "Courier New", monospace

// $grey1: #2c2c2c
// $grey2: #808080
// $grey3: #dddddd
// $grey4: #e2e2e2
// $grey5: #f9f9f9
// $grey6: #ecebe8
// $grey7: #f9f9f8

// $grey1: darken(#ecebe8, 80%)
// $grey2: darken(#ecebe8, 40%)
// $grey3: darken(#ecebe8, 15%)
// $grey4: darken(#ecebe8, 10%)
// $grey5: darken(#ecebe8, 5%)
// $grey6: #ecebe8
// $grey7: lighten(#ecebe8, 10%)


$grey1: #2c2c2c
$grey2: #808080
$grey3: #dddddd
$grey4: #cccccc
$grey5: #e2e2e2
$grey6: #f2f2f2
$grey7: #fafafa

$white: #ffffff
$black: #2c2c2c

$rouge: #ab7070
$lilac: #9490ab
$pink: #ab8195
$blue: #8bb6bd
$green: #74a290
$brown: #a6a096
$red: #ce001f

$focus: #f5d21e
$code: #c21d1f
$highlight: #f9e46f

$link: #1982d5
$link: #005ea5
$hover: #1E9CEE

// society central variables


$radius: 5px
