.no-margin
  margin: 0rem !important

div.heading
  position: relative

div.changed
  position: fixed
  left: 50%
  right: 50%
  width: 33%
  top: 60px
  display: none

.row6
  clear: both
  height: #{$baseline * 7}px
  & .block:nth-child(3n-3)
    margin-right: 0%
  & .block:nth-child(3n+1)
    margin-left: 0%
  &.row2
    height: #{$baseline * 13}px

div.example
  @include boxout


section.img.full
  width: 100%

section.image
  margin-bottom: 1.5rem



.banner-sc
  @include rem-fallback(margin-bottom, 1.5)
  padding-right: 120px !important
  min-height: 140px
  background: $white url(#{asset_path('banner-sc.png')}) no-repeat right !important
  border: 1px solid $grey5
  color: $black
  p
    @include rem-fallback(margin-bottom, 0)


.banner-poverty
  @include rem-fallback(margin-bottom, 1.5)
  padding-right: 100px !important
  min-height: 120px
  background: #3a2521 url(#{asset_path('banner-poverty.png')}) no-repeat right bottom !important
  color: $white
  p
    @include rem-fallback(margin-bottom, 0)
  // links
  a:link, a:visited, a:hover
    color: $white


.banner-esrc
  @include rem-fallback(margin-bottom, 1.5)
  padding-right: 100px !important
  min-height: 120px
  background: #005ea5 url(#{asset_path('banner-esrc.png')}) no-repeat right bottom !important
  color: $white
  p
    @include rem-fallback(margin-bottom, 0)
  // links
  a:link, a:visited, a:hover
    color: $white
  
    
.banner-misoc
  @include rem-fallback(margin-bottom, 1.5)
  padding-right: 100px !important
  min-height: 120px
  background: #649554 url(#{asset_path('banner-misoc.png')}) no-repeat right bottom !important
  color: $white
  p
    @include rem-fallback(margin-bottom, 0)
  // links
  a:link, a:visited, a:hover
    color: $white

.banner-postgrad
  @include rem-fallback(margin-bottom, 1.5)
  min-height: 120px
  background: #649554 !important
  color: $white
  p
    @include rem-fallback(margin-bottom, 0)
  // links
  a:link, a:visited, a:hover
    color: $white