.no-margin
  margin: 0rem !important

div.heading
  position: relative

div.changed
  position: fixed
  left: 50%
  right: 50%
  width: 33%
  top: 60px
  display: none

.row6
  clear: both
  height: #{$baseline * 7}px
  & .block:nth-child(3n-3)
    margin-right: 0%
  & .block:nth-child(3n+1)
    margin-left: 0%
  &.row2
    height: #{$baseline * 13}px

div.example
  @include boxout
