footer[role=contentinfo]
  clear: both
  display: block
  background: $grey1
  color: $grey3
  // border-top: 1px solid $grey4
  overflow: auto
  @include rem-fallback(margin-top, 3)
  @include rem-fallback(padding, 3, 0)
  -webkit-font-smoothing: antialiased
  @include rem-fallback(font-size, (16 / $basefont))

  a:link, a:visited, a:active
    color: $grey3
  a:hover
    color: $white

  nav.utilities
    float: right
    ul
      li
        @include rem-fallback(font-size, (14 / $basefont))
        list-style-type: none
        float: left
        @include rem-fallback(margin-left, 0.75)
        vertical-align: middle

  a.esrc
    float: left
    @include rem-fallback(margin-right, 2)
    display: block
    width: 97px
    height: 81px
    overflow: hidden
    text-indent: -3000em
    background: url(asset-path("esrc.svg", image)) no-repeat 50% 50%

  a.uoe
    float: left
    display: block
    width: 222px
    height: 81px
    overflow: hidden
    text-indent: -3000em
    background: url(asset-path("university_of_essex.svg", image)) no-repeat 50% 50%

.font20
  @include rem-fallback(font-size, (20 / $basefont))

.font18
  @include rem-fallback(font-size, (18 / $basefont))
