footer[role=contentinfo]
  clear: both
  display: block
  background: $grey1
  color: $grey7
  @include rem-fallback(margin-top, 3)
  @include rem-fallback(padding, 3, 0)
  -webkit-font-smoothing: antialiased

