form
  border-top: 1px solid $grey4
  border-bottom: 1px solid $grey4
  @include rem-fallback(margin,  (($baseline - 2) / $basefont), 0)
  @include rem-fallback(padding, 1.5, 0)

  fieldset
    position: relative
    border: none
    padding: 0px
    &.options
      ul
        margin-left: 25%
        li
          list-style-type: none
          @include rem-fallback(min-height, ($baseline * 2) / $basefont)
          label
            float: none
    abbr[title="Required"]
      border: none
      color: red

  fieldset.property
    input[type=text],
    input[type=number],
    textarea,
    select
      background: $white


  legend
    font-family: $heading_font
    font-weight: bold
    @include rem-fallback(font-size, (nth($heading_sizes, 3) / $basefont))
    @include rem-fallback(line-height, (1.5 * (ceil(nth($heading_sizes, 3) / $baseline))))
    @include rem-fallback(padding-bottom, 1.5)

  label
    font-weight: normal
    @include rem-fallback(line-height, 2.3)
    float: left
    width: 25%
    padding-right: 1em
    text-align: right
    @include respond-to(tablet)
      text-align: left
      width: 100%

  div.field
    // float: left
    // clear: left
    @include rem-fallback(min-height, ($baseline * 2) / $basefont)
    @include rem-fallback(margin-bottom, 1.5)
    &.large
      @include rem-fallback(min-height, ($baseline * 5) / $basefont)
    &.control
      margin-left: 10em
      a
        font-family: $body_font
        font-style: italic
    p.help
      font-style: italic
      margin-left: 25%
      color: $grey2
      @include rem-fallback(font-size, (16 / $basefont))

  input[type=text],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=email],
  input[type=url],
  textarea,
  select
    border: 1px solid $grey4
    font-family: $sans_font
    background: $grey7
    overflow: visible
    width: 75%
    -webkit-appearance: none
    border-radius: 0
    @include rem-fallback(padding, 0.5)
    @include rem-fallback(min-height, 2)
    @include respond-to(tablet)
      width: 100%

  input[type=submit]
    -webkit-appearance: none
    border-radius: 0

  input[type=checkbox]
    vertical-align: text-bottom

  input:focus,
  textarea:focus,
  select:focus
    outline: 3px solid $focus

  input:invalid,
  textarea:invalid,
  select:invalid
    outline: 3px solid $red

  input.search-query
    @include respond-to(tablet)
      @include rem-fallback(margin-bottom, 0.5)

  div.actions
    text-align: center

form[role=search]
  display: none
  border: none
  background: $grey5
  position: relative
  width: 100%
  @include rem-fallback(padding, 0.75, 0)
  @include rem-fallback(margin, 1, 0, 0, 0)
  label
    display: none
  fieldset
    position: relative
    margin: 0 auto
    width: 100%
    text-align: center
  input[type=search]
    position: relative
    padding: 0 0.5em
    width: 70%
    border: 1px solid $grey5
  input[type=submit]
    -webkit-appearance: none
    position: relative
    vertical-align: top
    @include rem-fallback(padding, 0.3, 0.5)
    @include rem-fallback(min-height, 2)


ol.multi
  @include rem-fallback(margin-bottom, 0)
  display: block
  border: 1px solid $grey4
  width: auto
  @include rem-fallback(padding, 0.5)
  max-height: 350px
  overflow: auto
  position: relative
  li
    list-style-type: none
    position: relative
    label
      width: 100%
      text-align: left
      display: block
      float: none
      padding-left: 1.75rem
      &:hover
        background: $grey6
      input[type=checkbox]
        position: absolute
        left: 0.5rem
        top: 25%
        margin-right: 0.5rem
    a:visited, a:link
      &.active
        background: $grey6

div.field_with_errors
  display: inline
  input, select, textarea
    outline: 3px solid $red

input, select, textarea
  &.field_with_errors
    outline: 3px solid $red
