header[role=banner]
  @include rem-fallback(margin-bottom, 2)
  top: 0
  left: 0
  right: 0
  position: relative
  z-index: 2
  color: $grey1
  background: $white
  border-top: 4px solid $grey1
  border-bottom: 1px solid $grey5
  @include rem-fallback(padding, 0.75,0,0,0)
  @include rem-fallback(min-height, 6)
  &.regular
    border-bottom: none
    border-top: none
    position: fixed
    padding: 0
    background: $grey5
    min-height: 0
    margin-top: 0
    nav
      float: left
      margin: 0
      li
        margin: 0
        a:link, a:visited
          background: $grey5
          &.active
            background: $grey4
        a:hover
          background: $grey4


  a.home-logo
    width: 80px
    @include rem-fallback(height, 4)
    @include rem-fallback(padding, 1)
    background: url(asset-path("iser.svg")) no-repeat 50% 50%
    text-indent: -3000em
    overflow: hidden
    display: block
    @include respond-to(tablet)
      margin-left: auto
      margin-right: auto

header.plain
  display: block
  position: relative
  background: $grey6
  @include rem-fallback(margin-bottom, 1.5)
  @include rem-fallback(margin-top, -2)
  &.white
    background: none
