img
  width: 100%

.autoimage
  img
    width: auto

img.logo
  display: block
  width: 40%
  margin: 0 auto
  @include rem-fallback(padding, 2, 0)
  @include respond-to(tablet)
    width: 80%

img.logo-blog
  display: block
  width: 400px
  margin: 0 auto
  @include rem-fallback(padding, 2, 0)
  @include respond-to(tablet)
    width: 60%

figure.drop
  background-color: rgba(255, 255, 255, 0.6)

figure
  @include rem-fallback(margin-bottom, 1.5)

figcaption
  font-style: italic
  @include rem-fallback(font-size, (16 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(16 / $baseline))))
  color: $grey2

.avatar
  text-align: center
  figure
    @include rem-fallback(padding, 0, 1.5)
    margin: 0
    img
      border-radius: 100%


.avatar-clear
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
