main
  @include rem-fallback(max-width, 35)
  margin: 0 auto
  &.two-column
    margin: 0
    max-width: 100%
    @include respond-to(tablet)
      img
        float: left
        width: 50%
      aside
        background: $white
        padding-top: 0
        float: left
        width: 50%
    @include respond-to(handheld)
      img
        float: none
        width: 100%
      aside
        background: $grey6
        float: none
        @include rem-fallback(padding, 1)
        width: 100%

body.app
  @include rem-fallback(margin-top, 4)
  main
    float: none
    width: 98%
    min-width: 820px
    max-width: none
    margin-left: auto
    margin-right: auto
    position: relative
  fieldset
    @include rem-fallback(margin-bottom, 1.5)

a#show-grid
  position: fixed
  bottom: 10px
  right: 10px

.tablet-hide
  @include respond-to(tablet)
    display: none

.handheld-hide
  @include respond-to(handheld)
    display: none

#page-wrap
  position: relative
  width: 100%
