ul, ol
  @include rem-fallback(padding, 0, 0, 0, 1)
  @include rem-fallback(margin, 0, 0, 1.5, 0)

ul, ol
  list-style-position: outside

ul ul,
ol ol
  @include rem-fallback(margin, 0, 0, 0, 3)

dl
  @include rem-fallback(margin, 0, 0, 1.5, 0)
  dt
    font-weight: bold
  dd
    @include rem-fallback(margin, 0, 0, 1.5, 0)

ol.tag-list
  li
    list-style-type: none
    float: left
    @include rem-fallback(margin, 0.2)
