ul, ol
  @include rem-fallback(padding, 0, 0, 0, 1)
  @include rem-fallback(margin, 0, 0, 1.5, 0)

ul, ol
  list-style-position: outside

// li
//   @include rem-fallback(margin, 0, 0, 1.5, 0)

ul ul,
ol ol
  @include rem-fallback(margin, 0, 0, 0, 3)

dl
  @include rem-fallback(margin, 0, 0, 1.5, 0)
  dt
    font-weight: bold
  dd
    @include rem-fallback(margin, 0, 0, 1.5, 0)

ol.tag-list
  margin-left: 0
  padding-left: 0
  overflow: auto
  li
    list-style-type: none
    float: left
    &:not(:last-of-type):after
      content: ",\00a0"
    &:nth-last-of-type(2):before
      content: none
    &:nth-last-of-type(2):after
      content: " and\00a0"

ol#publications
  padding-left: 0
  p
    margin: 0
  &>li
    list-style-type: none
    @include rem-fallback(padding, 0.25, 0)
  dt, dd
    margin: 0
  dd.publication-date
    color: $grey2
    @include rem-fallback(font-size, 0.8)
    font-style: italic
  i
    color: $grey4
  cite
    a:link, a:visited
      color: $grey2
      @include rem-fallback(font-size, 0.8)

