header[role=banner]
  nav
    float: right
    @include rem-fallback(margin-top, 1)
    @include respond-to(tablet)
      display: none
    ol
      list-style-type: none
      padding: 0em
      li
        @include rem-fallback(font-size, (16 / $basefont))
        float: left
        @include rem-fallback(margin, 0, 0, 0, 1)
        line-height: 2.2rem
        a:link, a:visited
          font-family: $heading_font
          -webkit-font-smoothing: subpixel-antialiased
          font-weight: bold
          padding: 0 1em
          display: block
          color: $grey1
          background: $white
          text-decoration: none
          &.active
            background: $grey5
        a:hover
          background: $grey5
        &.user
          text-align: right
          float: right
          width: 220px
          line-height: 2.2rem
          height: 2.2rem
          font-family: $heading_font
          font-weight: normal
          font-style: italic
          a
            float: right
        span
          @include rem-fallback(margin-right, 0.5)
        &.dropdown
          position: relative
          overflow: visible
          ol
            display: none
            position: absolute
            background: $grey6
            top: 100%
            left: 0
            min-width: 160px
            z-index: 1000
            margin-left: 0rem
            li
              float: none
              display: block

.active
  font-weight: bold

body.app
  header[role=banner]
    nav
      width: 75%
      min-width: 820px
      margin-left: auto
      margin-right: auto

nav.guide
  position: fixed
  width: inherit
  ol
    li
      font-weight: bold
      a:link, a:visited
        display: block
        text-decoration: none
        border-bottom: 1px solid $grey6
        @include rem-fallback(padding, 0, 0.5)
        @include rem-fallback(line-height, ((36 - 1) / $basefont))
      a:hover
        background: $grey7

.prime-action
  position: absolute
  right: 0
  top: 0

nav.section
  overflow: auto
  background: $grey1
  font-family: $heading_font
  // border-bottom: 1px solid $grey5
  // border-bottom: 3px solid $grey1
  @include rem-fallback(margin-bottom, 2.5)
  ol
    @include rem-fallback(padding-left, 0)
    li
      float: left
      @include rem-fallback(font-size, (16 / $basefont))
      @include rem-fallback(line-height, 2)
      // line-height: 2.2rem
      &:not(:first-of-type)
        border-left: 1px solid lighten($grey1, 15%)

      a:link, a:visited
        color: $white
        display: block
        @include rem-fallback(padding, 0, 1)
        font-weight: bold
        &.active
          background: lighten($grey1, 10%)
      a:hover
        text-decoration: none
        background: lighten($grey1, 10%)

nav.breadcrumb
  overflow: auto
  ol
    @include rem-fallback(padding-left, 0)
    li
      float: left
      color: $grey4
      @include rem-fallback(font-size, (14 / $basefont))
      @include rem-fallback(line-height, (1.5 * (14 / $baseline)))
      &:not(:last-of-type)
        &:after
          content: "\00A0\003E\00A0"
      a:link, a:visited
        font-weight: bold

nav.related
  ol
    @include rem-fallback(padding-left, 0)
    li
      font-weight: bold
      list-style-type: none
      border-bottom: 1px solid $grey6
      @include rem-fallback(font-size, (16 / $basefont))

      a:link, a:visited
        display: block
        padding: 0.5em 0
      a:hover
        // background: $grey5

nav.facets
  background: $grey6
  ol
    padding-left: 0
    li
      @include rem-fallback(font-size, (16 / $basefont))
      margin: 0
      position: relative
      a:link, a:visited
        display: block
        @include rem-fallback(padding, ((($baseline - 1) / $basefont) / 4), 1, 0.25, 1)
        border-bottom: 1px solid $grey5
        &:hover
          background: $grey5
        &.active
          background: $grey5
          &+.close
            display: block
            &+.badge
              background: $grey4
        &.close
          display: none
          padding: 0
          border: 0
          position: absolute
          @include rem-fallback(right, 3)
          top: 17%

      small.badge
        position: absolute
        @include rem-fallback(right, 1)
        top: 20%

