header[role=banner]
  nav
    float: right
    @include rem-fallback(margin-top, 1)
    @include respond-to(tablet)
      display: none
    ol
      list-style-type: none
      padding: 0em
      li
        @include rem-fallback(font-size, (16 / $basefont))
        float: left
        line-height: 2.2rem
        a:link, a:visited
          font-family: $heading_font
          -webkit-font-smoothing: subpixel-antialiased
          font-weight: bold
          padding: 0 1em
          display: block
          color: $grey1
          text-decoration: none
          &.active
            background: $grey5
        a:hover
          background: $grey5
        &.user
          text-align: right
          float: right
          width: 220px
          line-height: 2.2rem
          height: 2.2rem
          font-family: $heading_font
          font-weight: normal
          font-style: italic
          a
            float: right
        span
          @include rem-fallback(margin-right, 0.5)
        &.dropdown
          position: relative
          overflow: visible
          ol
            display: none
            position: absolute
            background: $grey6
            top: 100%
            left: 0
            min-width: 160px
            z-index: 1000
            margin-left: 0rem
            li
              float: none
              display: block


body.app
  header[role=banner]
    nav
      width: 75%
      min-width: 820px
      margin-left: auto
      margin-right: auto

nav.guide
  position: fixed
  width: inherit
  ol
    li
      font-weight: bold
      a:link, a:visited
        display: block
        text-decoration: none
        border-bottom: 1px solid $grey6
        @include rem-fallback(padding, 0, 0.5)
        @include rem-fallback(line-height, ((36 - 1) / $basefont))
      a:hover
        background: $grey7

.prime-action
  position: absolute
  right: 0
  top: 0


