header[role=banner]
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  background: $grey6
  color: $grey1
  nav
    width: 50em
    @include rem-fallback(margin-left, 15)
    overflow: auto
    ol
      list-style-type: none
      li
        a:link, a:visited
          font-family: $heading_font
          font-size: 16px
          // text-transform: uppercase
          -webkit-font-smoothing: sub-pixel-antialiased
          font-weight: bold
          float: left
          padding: 0 1em
          line-height: 2.2rem
          height: 2.2rem
          color: $grey1
          text-decoration: none
        a:hover
          @include transparent($grey1, 0.1)

nav.guide
  position: fixed
  width: inherit
  ol
    li
      font-weight: bold
      a:link, a:visited
        display: block
        text-decoration: none
        border-bottom: 1px solid $grey4
        @include rem-fallback(padding, 0, 0.5)
        @include rem-fallback(line-height, ((36 - 1) / $basefont))
      a:hover
        background: $grey7
