// h1.logo
//   // @include rem-fallback(margin-top, -4)
//   @include rem-fallback(margin-top, 1)
//   @include rem-fallback(padding-top, 4)
//   @include rem-fallback(padding-bottom, 1)
//   @include rem-fallback(line-height, 2.5)
//   background: url(asset-path("iser-logo.gif", image)) no-repeat 50% 0
//   @include image-2x(asset-path("iser-logo@2x.gif", image), 80px, 68px)
//   @include rem-fallback(font-size, (28 / $basefont))
//   text-align: center
//   span
//     @include rem-fallback(font-size, (20 / $basefont))
//     @include rem-fallback(line-height, 1)
//   border-bottom: 1px solid $grey4

p.lead
  @include rem-fallback(font-size, (22 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))
  @include respond-to(handheld)
    @include rem-fallback(font-size, (18 / $basefont))
    @include rem-fallback(line-height, (1.5 * (ceil(18 / $baseline))))

p.call-to-action
  @include rem-fallback(font-size, (22 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))
  @include boxout($green)
  color: rgba($white, 0.8)
  font-family: $body_font
  font-style: italic
  a:link, a:visited, a:active
    color: rgba($white, 0.8)
  a:hover
    color: $white

div.call-to-action
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))
  @include boxout($grey6)
  font-family: $body_font



h2.section-heading
  // @include rem-fallback(padding-top, 3)

h6.meta
  display: none
  color: $grey2
  font-family: $body_font
  font-weight: normal
  @include rem-fallback(font-size, 1)
  position: absolute
  left: -150px
  width: 115px
  text-align: right
  code
    display: block
    color: $green

.pagination
  @include rem-fallback(margin-top, 1.5)
  @include rem-fallback(margin-bottom, 1.5)
  @include rem-fallback(padding, 0.5, 0)
  z-index: 100
  position: relative
  background: white
  cursor: default
  overflow: auto
  margin-left: -3px
  span
    display: block
    &:first-child
      margin-left: 3px
    a
      padding: 0.2em 0.5em
  a, em
    padding: 0.2em 0.5em
    display: block
    float: left
    @include rem-fallback(margin-right, 0.25)
  .disabled
    @include btn
    background: $white
    color: $grey3
    font-weight: bold
    &:hover
      background: none
      color: $grey3
      outline: none
  .current
    @include btn
    padding: 0.2em 0.5em
    display: block
    float: left
    font-weight: bold
    @include rem-fallback(margin-right, 0.25)
    background: $red
    color: white
  .gap
    float: left
    margin-right: 0.25rem

  a
    text-decoration: none
    @include btn
  .page_info
    background: $red
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: $red + 60
      padding: 0.1em 0.25em


.block
  @include rounded
  // @include rem-fallback(padding, 0.5)
  float: left
  width: 32%
  background: $grey3
  padding: #{$baseline}px
  height: #{$baseline * 6}px
  margin: 1%
  color: $white
  &.green
    background: $green
  &.lilac
    background: $lilac
  &.pink
    background: $pink
  &.rouge
    background: $rouge
  &.brown
    background: $brown
  &.blue
    background: $blue
  &.red
    background: $red
  &.grey1
    background: $grey1
  &.grey2
    background: $grey2
  &.grey3
    background: $grey3
    color: $grey1
    & code
      color: $grey1
  &.grey4
    background: $grey4
    color: $grey1
    & code
      color: $grey1
  &.grey5
    background: $grey5
    color: $grey1
    & code
      color: $grey1
  &.grey6
    background: $grey6
    color: $grey1
    & code
      color: $grey1
  &.grey7
    background: $grey7
    color: $grey1
    & code
      color: $grey1
  &.link
    background: $link
  &.hover
    background: $hover
  &.highlight
    background: $highlight
    color: $grey1
    & code
      color: $grey1
  &.code
    background: $code
  &.focus
    background: $focus
    color: $grey1
    & code
      color: $grey1
  & code
    color: $white
    font-weight: bold
    margin-top: 1em
    display: block



p.info
  font-style: italic
  color: $grey2

span.info
  display: block
  color: $grey2
  @include rem-fallback(font-size, (16 / $basefont))
  font-style: italic

p.alert, div.changed
  @include boxout($rouge)
  @include rem-fallback(font-size, (22 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))
  font-style: italic
  color: rgba($white, 0.8)
  a:link, a:visited, a:active
    color: rgba($white, 0.8)
  a:hover
    color: $white

p.notice
  @include boxout($green)
  font-style: italic
  font-weight: bold
  color: $white

#loading
  position: fixed
  top: 0px
  right: 0px
  left: 0px
  height: 4px
  // display: none
  z-index: 99999

article.result
  a:link, a:visited, a:active
    display: block
    text-decoration: none
    padding: 0.5rem
    border-bottom: 1px solid $grey4
    h6
      text-decoration: underline
    p
      color: $grey2
      margin-bottom: 0rem
  a:hover
    background: $grey5

fieldset.property
  background: $grey5
  @include rem-fallback(padding, 1.5)
  @include rem-fallback(margin, 1.5, 0)
  border: 1px solid $grey4

img.preview
  max-width: 200px

.meta
  color: $grey2
  @include rem-fallback(font-size, 0.8)
  @include rem-fallback(line-height, 0.8)


.badge
  display: inline-block
  min-width: 10px
  min-height: 10px
  padding: 5px  3px 3px 3px
  @include rem-fallback(font-size, (14 / $basefont))
  font-weight: bold
  // color: $white
  vertical-align: middle
  white-space: nowrap
  text-align: center
  background-color: $grey3
  border-radius: 30%

.circ-border
  margin-top: -10px
  width: 30px
  height: 30px
  border: 1px solid $grey3
  border-radius: 100%
  text-align: center
  line-height: 30px
  display: inline-block

.hero
  header
    position: absolute
    color: $white
    width: 100%
    text-align: center
    z-index: 1
    @include rem-fallback(bottom, 1)
    a:link, a:visited
      position: relative
      z-index: 1
      color: $white
    a:hover
      color: $hover
    h1
      margin: 0 auto 3rem auto
      @include rem-fallback(font-size, (36 / $basefont))
      @include rem-fallback(padding, 1, 4)
      width: 100%
      background-color: rgba(0, 0, 0, 0.6)

.half-hero
  header
    position: absolute
    color: $white
    width: 100%
    text-align: center
    z-index: 1
    @include rem-fallback(bottom, 1)
    a:link, a:visited
      position: relative
      z-index: 1
      color: $white
    a:hover
      color: $hover
    h1
      margin: 0 auto 0rem auto
      @include rem-fallback(font-size, (27 / $basefont))
      @include rem-fallback(line-height, 2)
      @include rem-fallback(padding, 1, 4)
      width: 100%
      background-color: rgba(0, 0, 0, 0.6)

.component
  background: $grey6

aside.home
  background: $grey6
  @include rem-fallback(padding, 1)

.home-banner
  @include rem-fallback(margin-top, -1)

.compact
  margin-bottom: 0

.tag
  i.fa
    @include rem-fallback(margin-left, 0.35)

.brochure
  .row 
    width: 100%
    display: block 
    overflow: auto 
    @include rem-fallback(padding, 1.5, 0)
    @include respond-to(handheld)
      @include rem-fallback(padding, 0)
    &:first-child
      @include rem-fallback(padding-top, 0)
    &:last-child
      border-bottom: 0
      @include rem-fallback(margin-bottom, 1.5)
    .container 
      width: 85%
      margin: 0 auto
      @include respond-to(handheld)
        width: 96%
    figure 
      float: left 
      width: 50% 
      margin: 0
      vertical-align: top
       
      @include respond-to(handheld)
        width: 100%
      img
        width: 100%
    &:nth-child(even) figure
      float: right

    .content 
      float: left
      width: 50%
      vertical-align: top
      @include rem-fallback(padding, 0, 0, 0, 1.5)
      @include respond-to(handheld)
        width: 100%
        @include rem-fallback(padding, 0)
    &:nth-child(even) .content
      @include rem-fallback(padding, 0, 1.5, 0, 0)
  &.zebra
    .row
      &:first-child
      @include rem-fallback(padding-top, 1.5)
      @include respond-to(handheld)
        @include rem-fallback(padding-top, 0)
      &:nth-child(odd)
        background: $grey7






