p.lead
  @include rem-fallback(font-size, (22 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))

p.call-to-action
  @include rem-fallback(font-size, (22 / $basefont))
  @include rem-fallback(line-height, (1.5 * (ceil(22 / $baseline))))
  @include boxout($green)
  font-family: $body_font
  font-style: italic

div.example
  @include boxout

h2.section-heading
  @include rem-fallback(padding-top, 3)

h6.meta
  color: $grey2
  font-family: $body_font
  font-weight: normal
  @include rem-fallback(font-size, 1)
  position: absolute
  left: -13em
  width: 10em
  text-align: right
  code
    display: block
    color: $green

ol.pagination
  list-style-type: none
  display: block
  overflow: auto
  @include rem-fallback(line-height, 3)
  li
    float: left
    @include rem-fallback(padding, 0, 0.25)
    &:first-of-type
      @include rem-fallback(padding, 0, 0.25, 0, 0)
    a[rel=prev], a[rel=next]
      @include rem-fallback(line-height, 2)
    a:not([rel=prev]):not([rel=next])
      @include btn
      text-decoration: none
    span.active
      @include btn
      background: $red
      cursor: default
      &:hover
        background: $red

div.pagination
  @include rem-fallback(margin-top, 1.5)

.pagination
  background: white
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    @include rem-fallback(margin-right, 0.25)
  .disabled
    @include btn
    background: $white
    color: $grey3
    font-weight: bold
    &:hover
      background: none
      color: $grey3
      outline: none
  .current
    font-style: normal
    font-weight: bold
    @include btn
    background: $red
    color: white
  a
    text-decoration: none
    @include btn
  .page_info
    background: $red
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: $red + 60
      padding: 0.1em 0.25em


.block
  @include rounded
  // @include rem-fallback(padding, 0.5)
  float: left
  width: 32%
  background: $grey3
  padding: #{$baseline}px
  height: #{$baseline * 6}px
  margin: 1%
  color: $white
  &.green
    background: $green
  &.lilac
    background: $lilac
  &.pink
    background: $pink
  &.rouge
    background: $rouge
  &.brown
    background: $brown
  &.blue
    background: $blue
  &.red
    background: $red
  &.grey1
    background: $grey1
  &.grey2
    background: $grey2
  &.grey3
    background: $grey3
    color: $grey1
    & code
      color: $grey1
  &.grey4
    background: $grey4
    color: $grey1
    & code
      color: $grey1
  &.grey5
    background: $grey5
    color: $grey1
    & code
      color: $grey1
  &.link
    background: $link
  &.hover
    background: $hover
  &.highlight
    background: $highlight
    color: $grey1
    & code
      color: $grey1
  &.code
    background: $code
  &.focus
    background: $focus
    color: $grey1
    & code
      color: $grey1
  & code
    color: $white
    font-weight: bold
    margin-top: 1em
    display: block

.row6
  clear: both
  height: #{$baseline * 7}px
  & .block:nth-child(3n-3)
    margin-right: 0%
  & .block:nth-child(3n+1)
    margin-left: 0%
  &.row2
    height: #{$baseline * 13}px

p.info
  font-style: italic
  color: $grey2

span.info
  display: block
  color: $grey2
  @include rem-fallback(font-size, (16 / $basefont))
  font-style: italic

p.alert
  @include boxout($rouge)
  font-style: italic
  font-weight: bold
  color: $white

p.notice
  @include boxout($green)
  font-style: italic
  font-weight: bold
  color: $white

#loading
  position: fixed
  top: 80px
  right: 30px
  width: 50px
  height: 50px
  background: $white asset_path("loading.gif", image) no-repeat 0 0
  display: none
  z-index: 99999

article.result
  a:link, a:visited, a:active
    display: block
    text-decoration: none
    padding: 0.5rem
    border-bottom: 1px solid $grey4
    h6
      text-decoration: underline
    p
      color: $grey2
      margin-bottom: 0rem
  a:hover
    background: $grey5

div.heading
  position: relative

.no-margin
  margin: 0rem !important

fieldset.property
  background: $grey5
  @include rem-fallback(padding, 1.5)
  @include rem-fallback(margin, 1.5, 0)
  border: 1px solid $grey4
