main.podcast

  .intro
    padding-right: 120px
    position: relative
    overflow: visible
    min-height: 110px
    @include rem-fallback(margin-top, 1.5)
    @include rem-fallback(margin-bottom, 1.5)
    p.lead
      margin-right: 10px
    figure
      position: absolute
      padding-left: 60px
      top: 0
      right: 0
      img
        width: 120px
        @include respond-to(handheld)
          width: 100px

  .audio-player
    width: 100%
    margin-bottom: 0


  .avatar
    border-radius: 100%



  div.audio-meta
    position: relative
    color: $grey2
    font-family: $body_font
    font-weight: normal
    font-style: italic
    @include rem-fallback(font-size, (16 / $basefont))
    @include rem-fallback(margin-bottom, 1.5)
    padding-right: 120px
    overflow: auto
    @include respond-to(handheld)
      padding-right: 0
    .subscribe
      position: absolute
      top: 0
      right: 0
      @include respond-to(handheld)
        position: relative

  a.itunes
    float: left
    padding-top: 2px
    margin-top: -2px
    width: 62px
    height: 22px
    margin-right: 9px
    background: url("/assets/itunes.png") no-repeat 46px 6px

  a[href$='.rss']
    padding-top: 2px
    margin-top: -2px
    width: 44px
    float: left
    background: url(asset-path("rss.png")) no-repeat 32px 8px


  article.latest
    position: relative
    padding-left: 110px
    min-height: 110px

    figure
      position: absolute
      top: 0
      left: 0
      img
        width: 100px
        @include respond-to(handheld)
          width: 80px
