html.sc
  a:link, a:visited
    color: $link-sc
    text-decoration: none
  a:hover
    text-decoration: underline
  header[role=banner]
    border-top: 0px
    border-bottom: 1px solid $grey4
    padding-top: 0
    @include rem-fallback(min-height, 7)
    text-align: center
    @include rem-fallback(margin-bottom, 2)
    background: $grey6
    position: relative
    .container
      height: #{(($baseline * 5) - 5)}px
      padding-right: 0
    h1
      text-transform: uppercase
      @include rem-fallback(font-size, (34 / $basefont))
      @include rem-fallback(margin, 0)
      @include rem-fallback(padding-top, 1.5)
      font-family: "OfficinaSerifITCW01-Bol 734534", Georgia, "Times New Roman", Times, serif
      a:link, a:visited
        padding: 5px 20px
        color: $white
        background: $grey1
        text-decoration: none
      a:hover
        text-decoration: none
        background: $hover-sc
    h2
      font-family: $heading_font
      font-weight: normal
      color: $grey2
      @include rem-fallback(font-size, (24 / $basefont))
      @include rem-fallback(line-height, 1)
      margin: 5px 0 0 0
    div.social-links
      position: absolute
      left: 0
      bottom: 0px
      a:link, a:active, a:visited
        color: $grey2
        @include rem-fallback(padding, 0.5)
      a:hover
        color: $hover
    div.util-links
      position: absolute
      right: 0
      bottom: 0px
      a
        &:link, &:active, &:visited
          @include rem-fallback(padding, 0.5)
          color: $grey2
        &:hover
          color: $hover
  main
    @include rem-fallback(margin-top, 0)
  aside nav
    @include rem-fallback(margin-top, 0)
    @include rem-fallback(margin-bottom, 1.5)
    @include rem-fallback(margin-left, 0)
    @include rem-fallback(font-size, (16 / $basefont))
    position: relative
    right: 0
    width: 100%

    ol 
      padding: 0
      margin: -5px 0 0 -5px

      li 
        list-style-type: none
        float: left
        @include rem-fallback(margin, (8 / $basefont), (5 / $basefont))

        a:link
          @include rem-fallback(font-size, (18 / $basefont))
          @include rem-fallback(padding, (5 / $basefont), (10 / $basefont))
          background: $grey5

        a:hover, a.active 
          text-decoration: none
          background: $hover-sc
          color: $white


    p:last-of-type
      margin-bottom: 0

    article:not(:last-of-type)
      border-bottom: 1px solid black
    
    h1
      @include rem-fallback(font-size, (20 / $basefont))
      @include rem-fallback(line-height, 2)
      @include rem-fallback(margin-bottom, 0.5)
      clear: both
      color: $grey2

    h2
      @include rem-fallback(font-size, (18 / $basefont))
      @include rem-fallback(line-height, 2)
      @include rem-fallback(margin-bottom, 0.5)

  nav#site-navigation
    display: none

  div#content
    // outline: 1px solid red
    width: 90%
    margin: 0 auto
    // ensure div is expands correctly
    overflow: hidden 

  div#primary
    // outline: 1px solid blue
    float: left
    width: 66.66667%
    @include respond-to(handheld)
      float: none
      width: 100%

  div#secondary
    // outline: 1px solid yellow
    float: left
    width: 31%
    padding-left: 2.333333%
    @include respond-to(handheld)
      float: none
      width: 100%
    aside
      width: 100%
      margin-left: 0
    h1
      @include rem-fallback(font-size, (22 / $basefont))
      font-weight: normal
      color: $grey2
    form[role=search]
      position: relative
      display: initial
      label
        display: inline-block
        width: 100%
        @include rem-fallback(padding, 1.5, 0)
      input[type=search]
        -webkit-appearance: textfield
        @include rem-fallback(padding, 0.5, 0.25, 0.25, 1.5)
        position: relative
        width: 100%
        border: 1px solid $grey5
        font-family: $body_font
        box-sizing: border-box
        background: #fff url('ui/search-ico.png') no-repeat 8px center

      input[type=submit]
        display: none


  main.site-main
    article
      position: relative
      @include rem-fallback(padding, 1.5, 0)

      .entry-meta
        color: $grey2
        font-family: $body_font
        font-weight: normal
        @include rem-fallback(font-size, (16 / $basefont))
        @include rem-fallback(margin-bottom, 0)
        a
          &:link, 
          &:visited, 
          &:active
            color: $grey2
            text-decoration: none
          &:hover
            color: $grey1
            text-decoration: underline

        .avatar
          width: auto
          -webkit-border-radius: 100%
          -moz-border-radius: 100%
          border-radius: 100%
          margin-right: 10px

        a.tag
          position: absolute
          left: -128px
          z-index: 1
          top: 145px
          // font-family: $body_font
          font-weight: bold
          border-radius: 5px
          min-width: 84px
          text-align: center

          @include rem-fallback(font-size, (12 / $basefont))
          // @include rem-fallback(padding, 0.65, 0.35, 0.45, 0.35)
          @include rem-fallback(padding, 0.25, 0.25, 0.25, 0.35)
          // text-transform: uppercase
          @include rem-fallback(line-height, 0)
          font-style: normal
          // i
          //   margin-right: 5px

          text-decoration: none

          box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.25)

          background: $grey2
          color: $white
          &:hover
            background: $hover

          // &.analysis
          //   background: $grey2
          //   color: $white
          //   &:hover
          //     background: lighten($grey2, 10%)
          // &.news
          //   background: $grey2
          //   color: $white
          //   &:hover
          //     background: lighten($grey2, 10%)
          // &.feature
          //   background: $grey2
          //   color: $white
          //   &:hover
          //     background: lighten($grey2, 10%)
          // &.comment
          //   background: $grey2
          //   color: $white
          //   &:hover
          //     background: lighten($grey2, 10%)
          // i
          //   position: absolute
          //   right: 5px
          //   top: 4px


        time:before
          content: " - "
      h1
        @include rem-fallback(font-size, (24 / $basefont))
        @include rem-fallback(line-height, 1.5)
        // @include rem-fallback(line-height, (1.5 * (20 / $baseline)))
        // @include rem-fallback(line-height, (20 / $basefont))
        @include rem-fallback(margin-top, 0.5)
        @include rem-fallback(margin-bottom, 1)
      p
        margin: none
        color: #000000
      figure
        position: absolute
        @include rem-fallback(top, 1.75)
        left: 0
        margin: 0

        img
          vertical-align: middle
          @include rounded
          width: inherit
          @include respond-to(handheld)
            width: 80px
            height: 80px
    article.image
      padding-left: 150px
  .screen-reader-text
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px


  footer[role=contentinfo]
    color: $white

    a:link, a:visited
      color: white
      text-deocration: none
    
    .site-info
      width: 90%
      margin: 0 auto

      ol
        padding-left: 0px

        li
          list-style-type: none

      .third
        float: left
        width: 33.33333%

        &:last-of-type
          width: 31%
          padding-left: 2.33333%
  
  //form
  #commentform p.form-allowed-tags
    display: none 
    
  #primary 
    form[role=search]
      display: block
      background: $grey6
      @include rem-fallback(padding, (10 / $basefont))
      width: 100%
      overflow: auto
      display: inline-block
      margin: 0
      label
        display: block
        width: 40%
        line-height: normal
        vertical-align: middle
      input[type=search]
        display: inline-block
        vertical-align: middle
        width: 100%
      input[type=submit]
        @include rem-fallback(padding, (8 / $basefont))
    .comment-form
      width: auto
      line-height: normal
      @include rem-fallback(padding-right, 1)
      label
        text-align: left
      textarea
        width: 100%
      input[type="submit"]
        @include rem-fallback(margin, 0)


  .pullquote
    @include rem-fallback(font-size, (18 / $basefont))
    font-style: italic
    border-left: 10px solid #f2f2f2
    float: right
    width: 50%
    @include boxout
    @include rem-fallback(margin, 0, 0, 1, 1)
    @include respond-to(handheld)
      width: 100%
      @include rem-fallback(margin, 0)


  body.home span.comments-link, body.home span.edit-link
    display: none

// remove at end
html.sc.grid
  z-index: 10
  background: url('ui/grid.png') center 0px repeat

