ul.social
  list-style-type: none
  padding: 0em
  li
    font-size: 16px
    float: left
    margin: 0px 18px 0px 0px
    line-height: 2.2rem


#embed-modal-top, #embed-modal-bottom
  display: none
  background: $grey6
  overflow: hidden
  border: 1px solid $grey4
  @include rounded
  z-index: 1001

