.ukhls
  section.last
    padding-top: 3rem
  div.logo
    width: 400px
    margin: 0 auto
    @include rem-fallback(margin-top, 1.5)
    @include rem-fallback(margin-bottom, 1.5)
    @include respond-to(handheld)
      width: 100%

    img

  div.more
    width: 400px
    margin: 0 auto
    text-align: center
    color: $link
    @include rem-fallback(line-height, 2)
    background: rgba(255, 255, 255, 0.52)
    @include rem-fallback(font-size, ( 22 / $basefont))
    @include rem-fallback(padding, ( 10 / $basefont), ( 20 / $basefont), ( 20 / $basefont))
    & a.btn
      display: block
      margin: 0 auto
      padding: 10px 15px